{% extends 'todoapp/base.html' %}
{% load i18n %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% if todos %}
                 <h1>{{ todos.count }} {% trans "Current Task(s)" %}</h1>
            {% else %}
                           <h1>{% trans "Current Tasks" %}</h1>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
        {% if todos %}
            <div class="list-group">
                {% for todo in todos %}
                    <a href="{% url 'viewtodo' todo.id %}" class="list-group-item list-group-item-action{% if todo.important %} list-group-item-primary{% endif %}"><b>{{ todo.title }}</b>{% if todo.memo %} - {{ todo.memo|truncatechars:30 }}{% endif %}</a>
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center">
                <h2>{% trans "Looks like you don't have any tasks! Nice work." %}</h2>
            <br>
            <a role="button" class="btn btn-primary" href="{% url 'createtodo' %}">{% trans "New Task" %}</a>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}